.header-font {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

.rules-font {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
}

.examples-font {
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
}
